/*导航栏*/
#logotop{
    padding-left:30px;
    background-color:#348684;
    height:60px;
    padding-right:400px;
}
#nav{
    width: 1700px;
    height:60px;
    background-color: #348684;
    position:fixed;
    z-index:10;
    margin-top:0;
    left:50%;
    margin-left:-850px;
}
*{
    padding:0;
    margin:0;
    position:relative;
}
li{
    float:left;
}
.navli{
    list-style-type:none;
    width: 160px;
    height:60px;
    line-height: 60px;
    background: #348684;
    font-family:"微软雅黑 Light";
    color:white;
    font-weight: bold;
    align: center;
    text-align: center;
    border-left:2px solid #499693;
}
.navli:hover{
    background-color: #54aeaa;
    color:white;
}
#login{font-weight: normal;padding-left:10px;width:80px;}
#register{font-weight: normal;border:none;width:80px;}
#login:hover{
    background-color: #348684;
    font-weight: bold;
}
#register:hover{
    background-color: #348684;
    font-weight: bold;
}



#DevelopersContainer{
    width:1700px;
    height:1000px;
    display:block;
    margin:auto;
}
#devbg{
    width:1700px;
    height:800px;
    position:absolute;
    top:59px;
}
.developers{
    width:300px;
    height:450px;
    position:absolute;
}
#dev1{top:200px;right:300px;width:380px;height:490px;}
#dev2{top:350px; right:620px;}
#dev3{top:350px;right:80px;}

#team{
    width:600px;
    height:100px;
    position:absolute;
    top:200px;
    left:140px;
}
#teamintroduction{
    width:350px;
    position:absolute;
    line-height:40px;
    top:350px;
    left:170px;
    color:white;
}


/*底部*/
#indexbottom{
    width:1700px;
    height:200px;
    margin-top:100px;
    background-color:#348684;
    left:50%;
    margin-left:-850px;
}
#logobottom{
    width: 170px;
    height:80px;
    margin-top:30px;
    margin-left:80px;
}